* {
    background: black;
    color: white;
}

.carousel .carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    bottom: -50px;
}

.row {
    padding-top: 1.5%;
    padding-left: 10%;
    padding-right: 10%;
}

.row #row1{
padding-left: 8px;
padding-right: 8px;
}
